Repository lab-brussels-1/Loruki-rebuild-G6, pull requests merged in 2022-03, with the labels that each got.

#5 create all md files
  planning/backlog.md
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/development-stategy.md
  planning/user-personas.md
Labels: md, planning

#7 communication file update
  package-lock.json
  planning/1-constraints.md
  planning/2-communication-plan.md
  planning/3-user-personas.md
  planning/4-backlog.md
  planning/5-design.md
  planning/6-development-stategy.md
  planning/communication-plan.md
Labels: md, planning, communication-plan

#11 PR 1-Constraints MD created
  package-lock.json
  planning/1-constraints.md
  planning/2-communication-plan.md
  planning/7-retrospective.md
Labels: constraints

#13 7-retrospective.md
  .cspell.json
  planning/7-retrospective.md
Labels: planning, retrospective

#14 PR 5-Design
  planning/5-design.md
  planning/assets/home-01.svg
Labels: design

#17 3-user-personas.md
  .cspell.json
  planning/3-user-personas.md
  planning/assets/user-persona-farah.jpeg
  planning/assets/user-persona-leyla.jpeg
Labels: md, user-personas

#18 updated 3-user-personas.md to fix images sizes
  planning/3-user-personas.md
Labels: md, user-personas
