Repository lab-brussels-1/Loruki-rebuild-G6, pull requests merged in 2022-04, with the labels that each got.

#22 Home page HTML with CSS done
  index.html
  planning/assets/cli.png
  planning/assets/clojure.png
  planning/assets/cloud.png
  planning/assets/csharp.png
  planning/assets/node.png
  planning/assets/php.png
  planning/assets/python.png
  planning/assets/ruby.png
  planning/assets/scala.png
  styles/index.css
Labels: html, css

#20 backlog created
  planning/4-backlog.md
Labels: md, backlog

#23 Development stategy
  .cspell.json
  planning/6-development-stategy.md
Labels: planning, development-stategy

#24 update html css
  index.html
Labels: html, css

#30 PR Docs html and css
  .cspell.json
  .vscode/settings.json
  docs.html
  features.html
  index.html
  planning/7-retrospective.md
  planning/assets/docs.png
  planning/assets/server.png
  planning/assets/server2.png
  styles/docs.css
Labels: html, css

#28 PR - main md file project description
  README.md
Labels: md

#31 PR intrapages links added to navbar and footers
  docs.html
  features.html
  index.html
Labels: html

#36 update feature page
  docs.html
  features.html
  index.html
  styles/docs.css
  styles/index.css
  team.html
Labels: html, css, features

#37 updated information in the file retrospective
  .cspell.json
  planning/7-retrospective.md
Labels: planning, retrospective

#38 main logo hiperlink created
  docs.html
  features.html
  index.html
  styles/index.css
  team.html
Labels: html

#39 spelling check
  docs.html
  features.html
  index.html
  team.html
Labels: html

#41 Home page currection
  index.html
  styles/docs.css
  styles/index.css
Labels: html, css

#43 media query issue fixed
  styles/index.css
Labels: html, css
